nav {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    padding: 1rem 1.4rem;
    width: 16vw;
}

#nav * > button {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1rem;
    width: 95%;
    background-color: transparent;
    padding: 0.35rem 1.25rem;
} 

#nav * > button, #new-project-input, #new-project-input::placeholder {
    color: var(--text-color);
    font-size: 1.15rem;
    border-radius: 5px;
}

#nav * > button:hover {
    background-color: var(--bg-color)
}

#nav * > button.active {
    background-color: transparent;
    filter: invert(45%) sepia(83%) saturate(1845%) hue-rotate(228deg) brightness(80%) contrast(98%);
}

#user-details {
    display: flex;
    gap: 1rem;
}

#user-details > img {
    width: 2.3rem;
}

#user-details > h4 {
    font-size: 1.5em;
}

.hidden {
    display: none !important;
}

#new-project-input {
    background-color: var(--bg-color);
    border: none;
    padding: 0.35rem 0.45rem;
}

#new-project-input::placeholder {
    opacity: 0.8;
}

#new-project-input:focus {
    outline: 1px solid var(--text-color);
}

.new-project-field {
    display: flex;
    padding: 0rem 1.25rem;
    align-items: center;
    gap: 0.5rem;
}

footer {
   margin-top: auto;
}