nav {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    padding: 1rem 1.4rem;
    width: 16vw;
    min-height: 100%;
    row-gap: 1.5rem;
}

.nav-option, #new-project-btn, .project-input {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1rem;
    width: 95%;
    height: 2.35rem;
    background-color: transparent;
    padding: 0.35rem 1.25rem;
} 


.nav-option, #new-project-btn, .project-input, .project-input::placeholder {
    color: var(--text-color);
    font-size: 1.15rem;
    border-radius: 5px;
}

.nav-option:hover, #new-project-btn:hover, #nav * > button.active {
    background-color: var(--bg-color);
}

.project-option {
    position: relative;
}

#nav * > button.active > img {
    filter: invert(45%) sepia(83%) saturate(1845%) hue-rotate(228deg) brightness(80%) contrast(98%);
}

#nav * > button.active {
    color: var(--highlight-color);
}

#user-details {
    display: flex;
    gap: 1rem;
}

#user-details > img {
    width: 2.3rem;
}

#user-details > h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25rem;
    margin: 0.65rem 1.2rem;
}

.hidden {
    display: none !important;
}

.project-input {
    background-color: var(--bg-color);
    border: none;
    padding: 0.35rem 0.45rem;
}

.project-input::placeholder {
    opacity: 0.8;
}

.project-input:focus {
    outline: 1px solid var(--text-color);
}

.new-project-field {
    display: flex;
    padding: 0 1.25rem;
    align-items: center;
    gap: 0.5rem;
}

.kebab-btn {
    background: url("../images/dots.svg") center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.1rem;
    height: 1rem;
    position: absolute;
    right: 1.2rem;
    cursor: pointer;
}

.kebab-options-container {
    display: grid;
    position: absolute;
    z-index: 3;
    right: -5.5rem;
    top: 0.4rem;
    background-color: var(--secondary-bg-color);
    border: 0.1rem solid #2b2a2a;
    padding: 0.25rem 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.kebab-options-container, .kebab-options-container button {
    font-size: 1rem;
    border-radius: 5px;
}

.kebab-options-container button {
    background-color: transparent;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.kebab-options-container button:hover {
    background-color: var(--bg-color);
}

footer {
   margin-top: auto;
   text-align: center;
   font-size: 1.2rem;
}

#hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237); /* Multiplied by sq rt of 2 */
    display: none;
}

#hamburger-menu::before, #hamburger-menu:after, #hamburger-menu input {
    content: "";
    width: 36px;
    height: var(--hamburger-bar-height);
    background-color: var(--text-color);
    border-radius: 50px;
    transition: opacity var(--anim-timing), width var(--anim-timing), 
    rotate var(--anim-timing), translate var(--anim-timing), background-color var(--anim-timing);
    transform-origin: left center;
}

#hamburger-menu input {
    appearance: none;
    margin: 0;
    outline: none;
    pointer-events: none;
}

#hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

#hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--hamburger-bar-height) / -2);
}

#hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    translate: 0 calc(var(--hamburger-bar-height) / 2);
}

a, a:visited {
    color: var(--highlight-color);
}

@media (max-width: 600px) {
    #nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 80vw;
        padding-top: 2.5rem;
        transform: translateX(-100%);
        transition: transform var(--anim-timing);
        z-index: 2;
    
    }

    #hamburger-menu {
        display: flex;
        position: relative;
        flex-direction: column;
        grid-area: hamburgerMenu;
        gap: var(--hamburger-bar-gap);
        width: max-content;
        height: max-content;
        margin-left: 1rem;
        margin-top: 1rem; 
        z-index: 3;
        cursor: pointer;
        align-self: center;
    }

    #hamburger-menu:has(input:checked) ~ nav {
        display: flex;
        position: absolute;
        transform: translateX(0);
      }
}