#notes-container {
    margin-left: 10rem;
    column-width: 300px;
    column-gap: 1.5rem;
}

.note {
    display: flex;
    text-align: center;
    flex-direction: column;
    break-inside: avoid;
    margin-bottom: 1.5rem;
    padding: 1rem 2.5rem;
    background-color: var(--secondary-bg-color);
    word-break: break-all;
    padding-bottom: 2rem;
}

.note-delete-btn {
    align-self: flex-end;
}

@media (max-width: 600px){
    #notes-container {
        display: flex;
        margin-inline: 2.5rem;
        flex-direction: column;
    }

    .note {
        padding: 1rem;
        padding-bottom: 2rem;
    }
}