.task-container {
    align-self: center;
    margin-left: 6rem;
    width: 80%;
    height: 5rem;
    display: grid;
    grid-template-columns: 0.25fr 2fr 0.7fr 0.15fr 0.15fr;
    grid-auto-flow: column;
    align-items: center;
    padding: 0 1.5rem;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    border-left: 1rem solid;
}

.high-priority {
    border-color: var(--high-priority);
}

.medium-priority {
    border-color: var(--medium-priority);
}

.low-priority {
    border-color: var(--low-priority);
}

.complete-container {
    position: relative;
    height: 2.2rem;
}

.complete-container label {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    border: 3px solid var(--highlight-color);
    border-radius: 50%;
    cursor: pointer;
    height: 2.2rem;
    width: 2.2rem;
}

.complete-container label:after {
    border: 4px solid white;
    border-top: none;
    border-right: none;
    content: "";
    opacity: 0;
    position: absolute;
    left: 0.22rem;
    top: 6px;
    transform: rotate(-45deg);
    height: 9px;
    width: 18px;
}

.complete-container input {
  visibility: hidden;
}

.complete-container input:checked + label {
  background-color: var(--highlight-color);
}

.complete-container input:checked + label:after {
  opacity: 1;
}

#task-title {
    font-size: 1.4em;
}

#task-date {
    font-size: 1.25em;
    opacity: 0.6;
}

.task-container button {
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.25rem;
    height: 2.25rem;
}

.task-delete-btn {
    background: url("../images/trash.svg");
}

.edit-btn {
    background: url("../images/edit.svg");
}

@media (max-width: 600px) {
    .task-container {
        grid-template-columns: 0.3fr 1.7fr 0.7fr repeat(2, 0.1fr);
        width: 90%;
        gap: 0.2rem;
        margin: 0;
        padding-inline: 0.7rem;
        font-size: 0.75em;
        border-left: 0.8rem solid;
    }

    .high-priority {
        border-color: var(--high-priority);
    }
    
    .medium-priority {
        border-color: var(--medium-priority);
    }
    
    .low-priority {
        border-color: var(--low-priority);
    }

    h1 {
        font-size: 2rem;
        padding-left: 1.9rem;
        margin-bottom: 0.5rem;
    }

    .add-element-btn {
        width: 85%;
    }

    .task-container button {
        width: 1.45rem;
        height: 1.45rem;
    }

    #task-title {
        margin-left: 0.5rem;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        word-break: break-word;
        overflow: hidden;
    }

    #task-date {
        text-wrap: nowrap;
        margin-right: 0.7rem;
    }

    .complete-container label, .complete-container {
        width: 1.5rem;
        height: 1.5rem;
    }
    
    .complete-container label {
        border: 2px solid var(--highlight-color); 
    }

    .complete-container label:after {
        border: 3px solid white;
        border-top: none;
        border-right: none;
        width: 12px;
        height: 6px;
        left: 0.18rem;
        top: 4px;
    }

    .add-element-btn {
        font-size: 1rem;
    }

    .add-element-btn img {
        width: 1.4rem;
    }
}